header{
    color: white;
  
}
body {
    background-image:url('peakpx.jpg');

}

ul li{
    list-style: none;
}

li a{
    color: white;
    text-decoration: none;
    margin-left: 0px;
    margin-right: 5%;
    font-style: italic;
   
}
nav ul{
    display: flex;
    text-align: center;
    gap: 50px;
    background-color: blue;
    border-radius: 90px;
    margin: 10px;
    background-position: 10px;
}
a:hover{
    color: black;
}
    
